In [2]:
import os
import pymysql
import pandas as pd
from dotenv import load_dotenv, find_dotenv

In [3]:
env_path = find_dotenv()
load_dotenv(env_path)

True

In [6]:
conn = pymysql.connect (
    host = os.getenv('HOST'),
    port = int(3306),
    user = os.getenv('USER_DB'),
    password = os.getenv('PASSWORD_DB'),
    db = os.getenv('DB'),
    charset = 'utf8mb4'
)

df = pd.read_sql_query("SELECT * FROM user LIMIT 100;", conn)
df

/Users/benquartermaine/.pyenv/versions/3.8.12/envs/customerclustering/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,userID,dateOfBirth,postalAddress,billingAddress,gender,timezone,stripeCustID,adminGroup,createDate
0,00001d9c-5de5-4ed2-9ecc-98341286765a,None,93a2379a-f19f-4778-b521-800acb944879,231b8492-d297-4f78-838a-fb0fb75e24af,None,Australia/Sydney,cus_DW2cclQzaW25U8,None,2018-07-02 17:26:13
1,00001fb9-98c7-4dd4-b922-40a4094cd0d8,None,None,None,None,Australia/Brisbane,cus_DMkTNpAYc4ayhy,None,2017-09-07 01:48:02
2,0000c854-c7a3-4047-9a54-2e1a3464621f,None,None,None,female,America/Guatemala,cus_Ch9rUILvSFQ3f8,None,2016-10-22 21:52:32
3,00013cfc-f97f-428d-bf6b-558601512bd7,None,None,None,None,Australia/Melbourne,None,None,2017-05-25 02:18:02
4,000161bd-3737-49f4-9733-b1fd7577647c,None,None,None,None,Australia/Sydney,None,None,2017-06-28 17:17:49
...,...,...,...,...,...,...,...,...,...
95,00137ec3-3156-422d-a651-53c20cede2c4,None,None,None,None,Australia/Melbourne,cus_IkB6q6PNN5MGh2,None,2017-08-03 19:54:19
96,00138548-a098-4057-885c-919496863deb,None,59592c76-1579-4c20-9d41-6bf7caecc46b,None,None,Australia/Melbourne,cus_CrVUDuOYhcwKUD,None,2017-04-11 22:35:48
97,00139a2f-5a6d-4efe-aa58-801adf1a55b1,None,None,None,None,Australia/Darwin,None,None,2021-04-11 03:25:57
98,0013b436-2ef3-4ba6-be43-51cb990c7d48,None,35c8d853-6df9-494e-9eb3-f8df8085291f,4531ef5f-88be-412c-81f8-261c07309635,None,Australia/Perth,cus_GnqpLRse2KF7BV,None,2018-04-02 03:49:26
99,0013e415-24c7-402c-a8d9-73a34cfdb4c6,None,None,None,None,None,cus_L8vs0f5zow42jT,None,2022-02-13 09:05:09